@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	  local('MaterialIcons-Regular'),
	  url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
	  url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
	  url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
  	-moz-osx-font-smoothing: grayscale;
  	font-feature-settings: 'liga';
  }

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	user-select: none;
}
html {
	height: 100%;
}
body {
	height: 100vh;
	background-color: #0e1013;
	color: white;
	font-family: 'Inter';
	overflow-y: hidden;
}

.container {
	padding-left: 16px;
	padding-right: 16px;
	max-width: 768px;
	margin: auto;
}

.loading-white {
    display: block;
    margin: auto;
    border: 3px solid white;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 18px;
    height: 18px;
    animation-name: loading;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes loading{
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }