* {
	padding: 0;
	margin: 0;
}
html, body {
	height: 100%;
}
body {
	background-color: #0e1013;
	color: white;
	font-family: 'Inter';
}

.container {
	padding-left: 16px;
	padding-right: 16px;
	max-width: 768px;
	margin: auto;
}